<% if logged_in? %>

  <div class="row">
    <aside class="col-md-4">
      
      <%= form_for(@task) do |f| %>
        <div class="form-group">
          <p>content</p>
          <%= f.text_area :content, class: 'form-control', rows: 2 %>
        <div class="form-group">
          <p>status</p>
          <%= f.text_area :status, class: 'form-control', rows: 2 %>
        </div>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-xs-8">
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
  </div>
  <p>現在のログインユーザー名: <%= current_user.name %>
</p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklists</h1>
         <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

